{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block main %}
    <div class="register form">
        <h1>Create an Account!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="#" method="post">
            {% for field in form %}
                {{field(placeholder=field.label.text)}}
                <br>
            {% endfor %}
        </form>
    </div>
{% endblock %}